<div id="xpho_clearing">
	<ul class="clearing-thumbs">
		<!-- BEGIN picture -->
		<li class="xpho_mosaic album"><a href="{LINK}"><img src="{SRC_PREVIEW}"></a>

			<span class="album_metadata">
				<p class="album_title"><a href="{LINK}">{TITLE}</a></p>
				<span class="album_date"><p>{DATE}</p></span>
				<span class="album_count"><p>{COUNT}</p></span>
			</span>
		</li>
		<!-- END picture -->
	</ul>
	<ul class="clearing-thumbs">
		<!-- BEGIN add_new -->
		<li class="xpho_mosaic album addnew"><a href="{LINK_ADDNEW}"><img src="{SRC_ADDNEW}"></a></li>
		<!-- END add_new -->
	</ul>
</div>