span.album_count     {
	color: #808080;
	font-size: 0.8em;
}

span.album_date     {
	color: #808080;
	font-size: 0.8em;
}

span.album_metadata {
	text-align: left;
}

p.album_title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-weight: bold;
}

div#xpho_clearing {
	text-align: center;
	/*float: left;*/
}

li.xpho_mosaic {
	/*margin: 0 !important;*/
	display: block;
	float: left;
	border: #D2D2D2 1px solid;
	margin: 3px !important;
	padding: 8px;
	width: 12.5%;
	position: relative;

}

li.album {
	margin-right: 25px !important;
	margin-bottom: 30px !important;
}

li.xpho_mosaic img {
	/*display: block;*/
	/*padding: 8px;*/
	width: 100%;
	height: 100%;
}

li.xpho_mosaic img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

ul.clearing-thumbs {
	padding: 0;
	list-style: none;
	/*float: left;*/
	clear: both;
}


div#fixed_content {
	position: static;
}
class#ilMainMenuSearch {
	height: 22px;
}

.clearing-blackout {
	z-index:   1050 !important;
	position:  absolute;
	top:       0;
	left:      0;
	clear:     both;
	direction: ltr;

}

/* Clearing Styles */
[data-clearing] {
	*zoom: 1;
	margin-bottom: 0;
	margin-left: 0;
	list-style: none; }
[data-clearing]:before, [data-clearing]:after {
	content: " ";
	display: table; }
[data-clearing]:after {
	clear: both; }
[data-clearing] li {
	float: left;
	margin-right: 10px; }

.clearing-blackout {
	background: #333333;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 998; }
.clearing-blackout .clearing-close {
	display: block; }

.clearing-container {
	position: relative;
	z-index: 998;
	height: 100%;
	overflow: hidden;
	margin: 0; }

.visible-img {
	height: 95%;
	position: relative; }
.visible-img img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50%;
	max-height: 100%;
	max-width: 100%; }

.clearing-caption {
	color: #cccccc;
	font-size: 0.875em;
	line-height: 1.3;
	margin-bottom: 0;
	text-align: center;
	bottom: 0;
	background: #333333;
	width: 100%;
	padding: 10px 30px 20px;
	position: absolute;
	left: 0; }

.clearing-close {
	z-index: 999;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 30px;
	line-height: 1;
	color: #cccccc;
	display: none; }
.clearing-close:hover, .clearing-close:focus {
	color: #ccc; }

.clearing-assembled .clearing-container {
	height: 100%; }
.clearing-assembled .clearing-container .carousel > ul {
	display: none; }

.clearing-feature li {
	display: none; }
.clearing-feature li.clearing-featured-img {
	display: block; }

@media only screen and (min-width: 40.063em) {
	.clearing-main-prev,
	.clearing-main-next {
		position: absolute;
		height: 100%;
		width: 40px;
		top: 0; }
	.clearing-main-prev > span,
	.clearing-main-next > span {
		position: absolute;
		top: 50%;
		display: block;
		width: 0;
		height: 0;
		border: solid 12px; }
	.clearing-main-prev > span:hover,
	.clearing-main-next > span:hover {
		opacity: 0.8; }

	.clearing-main-prev {
		left: 0; }
	.clearing-main-prev > span {
		left: 5px;
		border-color: transparent;
		border-right-color: #cccccc; }

	.clearing-main-next {
		right: 0; }
	.clearing-main-next > span {
		border-color: transparent;
		border-left-color: #cccccc; }

	.clearing-main-prev.disabled,
	.clearing-main-next.disabled {
		opacity: 0.3; }

	.clearing-assembled .clearing-container .carousel {
		background: rgba(51, 51, 51, 0.8);
		height: 120px;
		margin-top: 10px;
		text-align: center; }
	.clearing-assembled .clearing-container .carousel > ul {
		display: inline-block;
		z-index: 999;
		height: 100%;
		position: relative;
		float: none; }
	.clearing-assembled .clearing-container .carousel > ul li {
		display: block;
		width: 120px;
		min-height: inherit;
		float: left;
		overflow: hidden;
		margin-right: 0;
		padding: 0;
		position: relative;
		cursor: pointer;
		opacity: 0.4; }
	.clearing-assembled .clearing-container .carousel > ul li.fix-height img {
		height: 100%;
		max-width: none; }
	.clearing-assembled .clearing-container .carousel > ul li a.th {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		display: block; }
	.clearing-assembled .clearing-container .carousel > ul li img {
		cursor: pointer !important;
		width: 100% !important; }
	.clearing-assembled .clearing-container .carousel > ul li.visible {
		opacity: 1; }
	.clearing-assembled .clearing-container .carousel > ul li:hover {
		opacity: 0.8; }
	.clearing-assembled .clearing-container .visible-img {
		background: #333333;
		overflow: hidden;
		height: 85%; }

	.clearing-close {
		position: absolute;
		top: 10px;
		right: 20px;
		padding-left: 0;
		padding-top: 0; } }