@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.75;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.75;
    }
}


.xpho_slideshow_container {
    background-color: #484848;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.xpho_slideshow_slide_container {
    z-index: 1010;
    position: relative;
    width: 100%;
    height: 100%;
}

.xpho_slideshow_slide_image {
    z-index: 1020;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.xpho_slideshow_slide_label_wrapper {
    z-index: 1030;
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 50px;
    height: 33%;
    width: calc(100% - 10px);
}

.xpho_slideshow_slide_label_wrapper:hover {
    .xpho_slideshow_slide_label {
        animation: fadeIn 0.5s 1;
        -webkit-animation: fadeIn 0.5s 1;
        animation-fill-mode: forwards;
    }
}

.xpho_slideshow_slide_label {
    z-index: 1030;
    position: relative;
    left: 0;
    right: 0;
    top: calc(100% - 50px);
    bottom: 0;
    height: 50px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-color: transparent;
    border-radius: 50px 50px 0 0;
    background-color: #000;
    color: #fff;
    opacity: 0.75;

    animation: fadeOut 0.5s 1;
    -webkit-animation: fadeOut 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 2s;
    -webkit-animation-delay: 2s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

.xpho_slideshow_btn_wrapper {
    z-index: 1040;
    position: absolute;
    top: 50px;
    bottom: 50px;
    height: calc(100% - 100px);
    width: 33%;
}

.xpho_slideshow_btn_wrapper:hover {
    .xpho_slideshow_btn {
        animation: fadeIn 0.5s 1;
        -webkit-animation: fadeIn 0.5s 1;
        animation-fill-mode: forwards;
    }
}

.xpho_slideshow_btn {
    z-index: 1040;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50px;
    font-size: 64px;
    border-color: transparent;
    background-color: #000;
    color: #fff;
    opacity: 0.5;

    animation: fadeOut 0.5s 1;
    -webkit-animation: fadeOut 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 2s;
    -webkit-animation-delay: 2s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}


.xpho_slideshow_btn_wrapper_prev {
    left: 0
}

.xpho_slideshow_btn_prev {
    border-radius: 0 50px 50px 0;
    left: 0;
}

.xpho_slideshow_btn_wrapper_next {
    right: 0;
}

.xpho_slideshow_btn_next {
    border-radius: 50px 0 0 50px;
    left: calc(100% - 50px);
    right: 0;
}

.xpho_slideshow_btn_wrapper_close {
    z-index: 1050;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    height: 33%;
    width: calc(100% - 100px);
}

.xpho_slideshow_btn_wrapper_close:hover {
    .xpho_slideshow_btn_close {
        animation: fadeIn 0.5s 1;
        -webkit-animation: fadeIn 0.5s 1;
        animation-fill-mode: forwards;
    }
}

.xpho_slideshow_btn_close {
    z-index: 1040;
    position: relative;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    font-size: 24px;
    border-color: transparent;
    border-radius: 0 0 50px 50px;
    background-color: #000;
    color: #fff;
    opacity: 0.5;

    animation: fadeOut 0.5s 1;
    -webkit-animation: fadeOut 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 2s;
    -webkit-animation-delay: 2s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

.xpho_slideshow_btn_close:hover {
    opacity: 0.75;
}
